<div class="row g-2">
    <nav class="nav flex-column col-md-2">
        <h4 class="modal-title ps-3 text-primary">{{identity.name}}</h4>
        <a class="nav-link" [routerLink]="['/user/perfil']">
            Perfil
        </a>
        <a class="nav-link" [routerLink]="['/user/notificaciones']">
            Notificaciones <span class="badge text-bg-danger">4</span>
        </a>
    
        <a class="nav-link" [routerLink]="['/user/home']">
            Tiendas <span class="badge text-bg-danger"></span>
        </a>
    
        <a class="nav-link" [routerLink]="['/user/orders']">
            Ordenes 
        </a>
    </nav>

    <div class="col-md-10">
        <div class="col-md-12 row g-2 mt-0">
            <form class="d-flex col-md-12 mt-0" role="search">
                <input class="form-control me-2" type="search" 
                    name="search" id="search"
                    placeholder="Search" aria-label="Search" #search
                    (keyup)="getResults(search.value)"
                >
            </form>
            <hr class="mt-2 mb-2">

            <div class="row g-3 mt-0">
                <div class="col-md-12 mt-0 alert {{css}}" *ngIf="products.length < 1">{{message}}</div>
                
                <div class="card mt-0 ms-2 me-2 mb-4" style="width: 18rem;" *ngFor="let product of products">
                    <img src="{{url+'shop/products/image/'+product.id}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{product.product}}</h5>
                        <p class="card-text mt-1 mb-1">
                            <b class="d-block text-primary">Presentacion</b>{{product.presentation}}
                        </p>
                        <p class="card-text mt-1 mb-1">
                            <b class="d-block text-primary">Cantidad</b>{{product.quantity}}
                        </p>
                        <p class="card-text mt-1 mb-1">
                            <b class="d-block text-primary">Precio</b>{{product.price}}
                        </p>
                        <div class="col-md-12 d-flex justify-content-end">
                        <button class="btn btn-sm btn-primary" (click)="addProduct(product.id)">Añadir al Carrito</button>
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="alert {{css}}" [innerHTML]="message"></div>

    </div>
</div>



