<nav class="navbar navbar-dark bg-primary mb-5">
  <div class="container-fluid">
    <h2 class="text-white col-md-10" [routerLink]="['']">Tienda</h2>
    <a class="nav-link text-white ms-5" [routerLink]="['Registrarse']" *ngIf="!identityUser && !identityShop">
      Registrarse
    </a>
    <a class="nav-link text-white me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" *ngIf="!identityUser && !identityShop">
      Login
    </a>

    <a class="nav-link text-white ms-5" [routerLink]="['Registrarse']" *ngIf="identityUser || identityShop" (click)="close()">
      Salir
    </a>
    <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header mb-5">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Tienda</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body mt-5">

        <h4 class="text-white">Iniciar Sesion</h4>

        <div class="{{css}}">
          {{message}}
        </div>

        <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
          <div class="mt-3">
            <label for="email">Correo Electronico</label>
            <input type="emailL" class="form-control" 
              name="emailL" id="emailL"
              #email="ngModel" [(ngModel)]="user.email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required
            >
            <small class="d-block invalid-feedback text-white" *ngIf="!email.valid && email.touched">
              Formato de correo invalido...
            </small>
          </div>

          <div class="mt-3">
            <label for="passwordL">Contraseña</label>
            <input type="password" class="form-control" 
              name="passwordL" id="passwordL" maxlength="12"
              #password="ngModel" [(ngModel)]="user.password"
              pattern="[a-zA-Z\d]{8,12}" required
            >
            <small class="d-block invalid-feedback text-white" *ngIf="!password.valid && password.touched">
              La contraseña debe contener de 8 a 12 caracteres
            </small>
          </div>

          <div class="mt-3">
            <button type="submit" class="btn btn-sm btn-success col-md-12">Ingresar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</nav>



<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

<div class="footer bg-primary">
</div>