<div class="row g-2">
    <nav class="nav flex-column col-md-2">
        <h3 class="modal-title ps-3 text-primary">{{identity.nameShop}}</h3>
        <a class="nav-link" [routerLink]="['/shop/perfil']">
            Perfil
        </a>
        <a class="nav-link" [routerLink]="['/shop/notificaciones']">
            Notificaciones
        </a>
    
        <a class="nav-link" [routerLink]="['/shop/home']">
            Productos 
        </a>
    
        <a class="nav-link" [routerLink]="['/shop/orders']">
            Ordenes <span class="badge text-bg-danger" *ngIf="quantity > 0"> {{quantity}}</span>
        </a>
    </nav>

    <div class="col-md-10">
        <div class="col-md-12 mt-0">
            <form class="d-flex col-md-12" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-primary me-2" type="submit">Search</button>
            </form>
        </div>
        <hr class="mt-1 row g-3">

        <div class="col-md-12">
            <div class="alert {{css}}" *ngIf="orders.length < 1">{{message}}</div>
        </div>

        <div class="card" style="width: 18rem;" *ngFor="let order of orders">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>