<div class="row g-2">
    <nav class="nav flex-column col-md-2">
        <h4 class="modal-title ps-3 text-primary">{{identity.name}}</h4>
        <a class="nav-link" [routerLink]="['/user/perfil']">
            Perfil
        </a>
        <a class="nav-link" [routerLink]="['/user/notificaciones']">
            Notificaciones <span class="badge text-bg-danger">4</span>
        </a>

        <a class="nav-link" [routerLink]="['/user/home']">
            Tiendas
        </a>

        <a class="nav-link" [routerLink]="['/user/orders']">
            Ordenes <span class="badge text-bg-danger" *ngIf="cantidad > 0">{{cantidad}}</span>
        </a>
    </nav>

    <div class="col-md-10">
        <div class="col-md-12 row g-2 mt-0">
            <form class="d-flex col-md-12 mt-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <hr class="mt-1 mb-1">

            <div class="alert alert-info mb-1 mt-1" *ngIf="orders.length < 1">{{message}}</div>
            
            <ul class="list-group" *ngFor="let shop of shops">
                <li class="list-group-item">An item</li>
            </ul>
        </div>
    </div>
</div>

